@model CSC497_Project_JagQuiz.Models.AccountIndexViewModel

@{
    ViewBag.Title = "IndexViewModel";
}

<h2>IndexViewModel</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading text-center">Index</div>
                <div class="panel-body">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#Home">Home</a></li>
                        @{
                            for (int x = 0; x < Model.courses.Count; x++)
                            {
                                <li><a data-toggle="tab" href='#@Model.courses[x].Replace(" ", "")'> @Model.courses[x] </a></li>
                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @{
                            for (int x = 0; x < Model.courses.Count; x++)
                            {
                                <div id=@Model.courses[x].Replace(" ", "") class="tab-pane fade">
                                    <p>@Model.courses[x] and some other content</p>
                                </div>
                            }
                        }
                        <div id="Home" class="tab-pane fade in active">
                            <h3>Home</h3>
                                <p>sample content</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>