@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>This is a sample</h1>
    <p>Index view of home page.</p>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <div class="panel panel-default">
                Panel 1
            </div>
        </div>
        <div class="col-md-1">
            <div class="panel panel-default">
                Panel 2
            </div>
        </div>
    </div>
</div>